/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;600&family=Roboto:wght@100;500;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
}

a {
    text-decoration:none;
    color:black;

}

#grid ul{
    font-size:20px;
    font-weight:2000;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid black;
    width:100%;
    padding:20px;
    list-style: none;
}

#grid ul li {
    display:inline-block;
    padding: 5px 15px;
    border-radius: 100px;
    margin-left:auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    text-align:center;
}

#grid ul li:hover {
    padding-left:auto;
    padding-right:auto;
    text-align:center;
    background-color:yellowgreen;
}

/* 로그인 부분 */
#login {
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
#login-form > input, button{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"], button{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top:20px;
}

#login-form > button{
    margin-top:0;
}

/* 회원가입 부분 */
.infoinput {
    padding: 40px;
    text-align:center;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    font-size:24px;
}
.infoinput > h3 {
    padding: 20px;
}

.infoinput > input {
    padding:10px 30px;
}

.mentoti {
    padding-bottom:20px;
}

.infoinput > label {
    font-size:18px;
}

.submit, .reset {
    padding:10px 30px;
    background-color:#6A24FE;
    font-size:24px;
    color:#fff;
}

/* 게시판 부분 */
.boarding > table {
    border-collapse: collapse; /*표 셀 간격 없애기*/
}

.boarding > .board_list_wrap > .board_list > caption {
    margin-bottom:10px;
}

.boarding > .board_list_wrap > .board_list > a {
    text-decoration:none;
    color:inherit;
}


.board_list_wrap {
    padding:50px;
}

.board_list {
    width:100%;
    border-top: 2px solid green;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding:10px;
    font-size:14px;
}

.board_list td {
    text-align:center;
}

.board_list .tit{
    text-align:left;
}

.board_list .tit:hover{
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top:20px;
    text-align:center;
    font-size:0;
}

.board_list_wrap .paging a {
    display:inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size:12px;
}

.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt{
    border: 1px solid #eee;
    background:#eee;
}

.board_list_wrap .paging a.num{
    border: 1px solid green;
    font-weight: 600;
}

.board_list_wrap .paging a.num.on{
    background:green;
    color: #fff;
}

.writing .w {
    background-color: green;
    border:none;
    color:#fff;
}

/*글쓰기 파트*/
.board_write {
    border-top: 3px solid green;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid green;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 70%;
}

.board_wrap {
    width: auto;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.board_write .cont {
    border-bottom: 1px solid green;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: green;
    color: #fff;
}