/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;600&family=Roboto:wght@100;500;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration:none;
    color:black;
}

#grid ul{
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid black;
    width:100%;
    padding:20px;
    padding-left:20px;
    list-style: none;
}

#grid ul li {
    padding-left:30px;
}

/* 로그인 부분 */
#login {
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
#login-form > input, button{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"], button{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top:20px;
}

#login-form > button{
    margin-top:0;
}

/* 회원가입 부분 */
.infoinput {
    padding: 40px;
    text-align:center;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    font-size:24px;
}
.infoinput > h3 {
    padding: 20px;
}

.infoinput > input {
    padding:10px 30px;
}

.mentoti {
    padding-bottom:20px;
}

.infoinput > label {
    font-size:18px;
}

.submit, .reset {
    padding:10px 30px;
    background-color:#6A24FE;
    font-size:24px;
    color:#fff;
}

/* 게시판 부분 */
.boarding > table {
    border-collapse: collapse; /*표 셀 간격 없애기*/
}

.boarding > caption {
    display:none;
}

.barding a {
    text-decoration:none;
    color:inherit;
}


.board_list_wrap {
    padding:50px;
}

.board_list {
    width:100%;
    border-top: 2px solid green;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding:10px;
    font-size:14px;
}

.board_list td {
    text-align:center;
}

.board_list .tit{
    text-align:left;
}

.board_list .tit:hover{
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top:20px;
    text-align:center;
    font-size:0;
}

.board_list_wrap .paging a {
    display:inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size:12px;
}

.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt{
    border: 1px solid #eee;
    background:#eee;
}

.board_list_wrap .paging a.num{
    border: 1px solid green;
    font-weight: 600;
}

.board_list_wrap .paging a.num.on{
    background:green;
    color: #fff;
}